 $ff1:"Raleway", sans-serif;
$ff2:"Montserrat", serif;

//color

$color-main1:#00d8a3;
$color-main2: #16a085;
$color-main3: #d21212; // red
$color-main4: #D9D8C1; // gray
$color-main5: #444444;
$color-main6:#d5dbe7;
$color-main7:#E7E6E1;
 $color-main8: #9DCF67;

$color-light : #ffffff;
$color-dark : #000;
$color-dark_2b:#2b2b2b;

$color-gray_2: #222;
$color-gray_4: #444444;
$color-gray_6: #666;
$color-gray_8: #888;
$color-gray_a: #AAAAAA;

$color-light_e : #eeeeee;
$color-light_d : #dddddd;
$color-light_c : #cccccc;

$color-text: #444444;
