$screen-xs:480px;
$screen-sm:768px;
$screen-md:992px;
$screen-lg:1200px;
$screen-xlg:1600px;
$screen-lg-max:1599px;
$screen-md-max:1199px;
$screen-sm-max:991px;
$screen-xs-max:767px;

//color
@import "variables";



/*-------------------------------------
	FONT SIZE
---------------------------------------*/
@for $i from 0 through 150 {
  .fz-#{$i} {
    font-size: #{$i}px;
  }
}

/*-------------------------------------
	Z-INDEX
---------------------------------------*/
@for $i from -1 through 200 {
  .zi-#{$i} {
    z-index: #{$i};
  }
}

/*-------------------------------------
	MARGIN
---------------------------------------*/
@for $i from 0 through 30 {
  .mt-#{$i * 5} {
    & {
      margin-top: #{$i * 5}px;
    }
  }

  .mb-#{$i * 5} {
    & {
      margin-bottom: #{$i * 5}px;
    }
  }

  .ml-#{$i * 5} {
    & {
      margin-left: #{$i * 5}px;
    }
  }

  .mr-#{$i * 5} {
    & {
      margin-right: #{$i * 5}px;
    }
  }

  // important
  .mt-#{$i * 5}-i {
    & {
      margin-top: #{$i * 5}px !important;
    }
  }

  .mb-#{$i * 5}-i {
    & {
      margin-bottom: #{$i * 5}px !important;
    }
  }

  .ml-#{$i * 5}-i {
    & {
      margin-left: #{$i * 5}px !important;
    }
  }

  .mr-#{$i * 5}-i {
    & {
      margin-right: #{$i * 5}px !important;
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (min-width: $screen-xs) {
    .mt-xs-#{$i * 5} {
      & {
        margin-top: #{$i * 5}px;
      }
    }

    .mb-xs-#{$i * 5} {
      & {
        margin-bottom: #{$i * 5}px;
      }
    }

    .ml-xs-#{$i * 5} {
      & {
        margin-left: #{$i * 5}px;
      }
    }

    .mr-xs-#{$i * 5} {
      & {
        margin-right: #{$i * 5}px;
      }
    }
    // important
    .mt-xs-#{$i * 5}-i {
      & {
        margin-top: #{$i * 5}px !important;
      }
    }

    .mb-xs-#{$i * 5}-i {
      & {
        margin-bottom: #{$i * 5}px !important;
      }
    }

    .ml-xs-#{$i * 5}-i {
      & {
        margin-left: #{$i * 5}px !important;
      }
    }

    .mr-xs-#{$i * 5}-i {
      & {
        margin-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (min-width: $screen-sm) {
    .mt-sm-#{$i * 5} {
      & {
        margin-top: #{$i * 5}px;
      }
    }

    .mb-sm-#{$i * 5} {
      & {
        margin-bottom: #{$i * 5}px;
      }
    }

    .ml-sm-#{$i * 5} {
      & {
        margin-left: #{$i * 5}px;
      }
    }

    .mr-sm-#{$i * 5} {
      & {
        margin-right: #{$i * 5}px;
      }
    }
    // important
    .mt-sm-#{$i * 5}-i {
      & {
        margin-top: #{$i * 5}px !important;
      }
    }

    .mb-sm-#{$i * 5}-i {
      & {
        margin-bottom: #{$i * 5}px !important;
      }
    }

    .ml-sm-#{$i * 5}-i {
      & {
        margin-left: #{$i * 5}px !important;
      }
    }

    .mr-sm-#{$i * 5}-i {
      & {
        margin-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (min-width: $screen-md) {
    .mt-md-#{$i * 5} {
      & {
        margin-top: #{$i * 5}px;
      }
    }

    .mb-md-#{$i * 5} {
      & {
        margin-bottom: #{$i * 5}px;
      }
    }

    .ml-md-#{$i * 5} {
      & {
        margin-left: #{$i * 5}px;
      }
    }

    .mr-md-#{$i * 5} {
      & {
        margin-right: #{$i * 5}px;
      }
    }
    // important
    .mt-md-#{$i * 5}-i {
      & {
        margin-top: #{$i * 5}px !important;
      }
    }

    .mb-md-#{$i * 5}-i {
      & {
        margin-bottom: #{$i * 5}px !important;
      }
    }

    .ml-md-#{$i * 5}-i {
      & {
        margin-left: #{$i * 5}px !important;
      }
    }

    .mr-md-#{$i * 5}-i {
      & {
        margin-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (min-width: $screen-lg) {
    .mt-lg-#{$i * 5} {
      & {
        margin-top: #{$i * 5}px;
      }
    }

    .mb-lg-#{$i * 5} {
      & {
        margin-bottom: #{$i * 5}px;
      }
    }

    .ml-lg-#{$i * 5} {
      & {
        margin-left: #{$i * 5}px;
      }
    }

    .mr-lg-#{$i * 5} {
      & {
        margin-right: #{$i * 5}px;
      }
    }
    // important
    .mt-lg-#{$i * 5}-i {
      & {
        margin-top: #{$i * 5}px !important;
      }
    }

    .mb-lg-#{$i * 5}-i {
      & {
        margin-bottom: #{$i * 5}px !important;
      }
    }

    .ml-lg-#{$i * 5}-i {
      & {
        margin-left: #{$i * 5}px !important;
      }
    }

    .mr-lg-#{$i * 5}-i {
      & {
        margin-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (min-width: $screen-xlg) {
    .mt-xlg-#{$i * 5} {
      & {
        margin-top: #{$i * 5}px;
      }
    }

    .mb-xlg-#{$i * 5} {
      & {
        margin-bottom: #{$i * 5}px;
      }
    }

    .ml-xlg-#{$i * 5} {
      & {
        margin-left: #{$i * 5}px;
      }
    }

    .mr-xlg-#{$i * 5} {
      & {
        margin-right: #{$i * 5}px;
      }
    }
    // important
    .mt-xlg-#{$i * 5}-i {
      & {
        margin-top: #{$i * 5}px !important;
      }
    }

    .mb-xlg-#{$i * 5}-i {
      & {
        margin-bottom: #{$i * 5}px !important;
      }
    }

    .ml-xlg-#{$i * 5}-i {
      & {
        margin-left: #{$i * 5}px !important;
      }
    }

    .mr-xlg-#{$i * 5}-i {
      & {
        margin-right: #{$i * 5}px !important;
      }
    }

  }
}

@for $i from 0 through 30 {
  @media only screen and (max-width: $screen-lg-max) {
    .mt-lg-max-#{$i * 5} {
      & {
        margin-top: #{$i * 5}px;
      }
    }

    .mb-lg-max-#{$i * 5} {
      & {
        margin-bottom: #{$i * 5}px;
      }
    }

    .ml-lg-max-#{$i * 5} {
      & {
        margin-left: #{$i * 5}px;
      }
    }

    .mr-lg-max-#{$i * 5} {
      & {
        margin-right: #{$i * 5}px;
      }
    }
    // important
    .mt-lg-max-#{$i * 5}-i {
      & {
        margin-top: #{$i * 5}px !important;
      }
    }

    .mb-lg-max-#{$i * 5}-i {
      & {
        margin-bottom: #{$i * 5}px !important;
      }
    }

    .ml-lg-max-#{$i * 5}-i {
      & {
        margin-left: #{$i * 5}px !important;
      }
    }

    .mr-lg-max-#{$i * 5}-i {
      & {
        margin-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (max-width: $screen-md-max) {
    .mt-md-max-#{$i * 5} {
      & {
        margin-top: #{$i * 5}px;
      }
    }

    .mb-md-max-#{$i * 5} {
      & {
        margin-bottom: #{$i * 5}px;
      }
    }

    .ml-md-max-#{$i * 5} {
      & {
        margin-left: #{$i * 5}px;
      }
    }

    .mr-md-max-#{$i * 5} {
      & {
        margin-right: #{$i * 5}px;
      }
    }
    // important
    .mt-md-max-#{$i * 5}-i {
      & {
        margin-top: #{$i * 5}px !important;
      }
    }

    .mb-md-max-#{$i * 5}-i {
      & {
        margin-bottom: #{$i * 5}px !important;
      }
    }

    .ml-md-max-#{$i * 5}-i {
      & {
        margin-left: #{$i * 5}px !important;
      }
    }

    .mr-md-max-#{$i * 5}-i {
      & {
        margin-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (max-width: $screen-sm-max) {
    .mt-sm-max-#{$i * 5} {
      & {
        margin-top: #{$i * 5}px;
      }
    }

    .mb-sm-max-#{$i * 5} {
      & {
        margin-bottom: #{$i * 5}px;
      }
    }

    .ml-sm-max-#{$i * 5} {
      & {
        margin-left: #{$i * 5}px;
      }
    }

    .mr-sm-max-#{$i * 5} {
      & {
        margin-right: #{$i * 5}px;
      }
    }
    // important
    .mt-sm-max-#{$i * 5}-i {
      & {
        margin-top: #{$i * 5}px !important;
      }
    }

    .mb-sm-max-#{$i * 5}-i {
      & {
        margin-bottom: #{$i * 5}px !important;
      }
    }

    .ml-sm-max-#{$i * 5}-i {
      & {
        margin-left: #{$i * 5}px !important;
      }
    }

    .mr-sm-max-#{$i * 5}-i {
      & {
        margin-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (max-width: $screen-xs-max) {
    .mt-xs-max-#{$i * 5} {
      & {
        margin-top: #{$i * 5}px;
      }
    }

    .mb-xs-max-#{$i * 5} {
      & {
        margin-bottom: #{$i * 5}px;
      }
    }

    .ml-xs-max-#{$i * 5} {
      & {
        margin-left: #{$i * 5}px;
      }
    }

    .mr-xs-max-#{$i * 5} {
      & {
        margin-right: #{$i * 5}px;
      }
    }
    // important
    .mt-xs-max-#{$i * 5}-i {
      & {
        margin-top: #{$i * 5}px !important;
      }
    }

    .mb-xs-max-#{$i * 5}-i {
      & {
        margin-bottom: #{$i * 5}px !important;
      }
    }

    .ml-xs-max-#{$i * 5}-i {
      & {
        margin-left: #{$i * 5}px !important;
      }
    }

    .mr-xs-max-#{$i * 5}-i {
      & {
        margin-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (max-width: $screen-xs - 1) {
    .mt-xxs-max-#{$i * 5} {
      & {
        margin-top: #{$i * 5}px;
      }
    }

    .mb-xxs-max-#{$i * 5} {
      & {
        margin-bottom: #{$i * 5}px;
      }
    }

    .ml-xxs-max-#{$i * 5} {
      & {
        margin-left: #{$i * 5}px;
      }
    }

    .mr-xxs-max-#{$i * 5} {
      & {
        margin-right: #{$i * 5}px;
      }
    }
    // important
    .mt-xxs-max-#{$i * 5}-i {
      & {
        margin-top: #{$i * 5}px !important;
      }
    }

    .mb-xxs-max-#{$i * 5}-i {
      & {
        margin-bottom: #{$i * 5}px !important;
      }
    }

    .ml-xxs-max-#{$i * 5}-i {
      & {
        margin-left: #{$i * 5}px !important;
      }
    }

    .mr-xxs-max-#{$i * 5}-i {
      & {
        margin-right: #{$i * 5}px !important;
      }
    }
  }
}

/*-------------------------------------
	PADDING
---------------------------------------*/

@for $i from 0 through 30 {
  .pt-#{$i * 5} {
    & {
      padding-top: #{$i * 5}px;
    }
  }

  .pb-#{$i * 5} {
    & {
      padding-bottom: #{$i * 5}px;
    }
  }

  .pl-#{$i * 5} {
    & {
      padding-left: #{$i * 5}px;
    }
  }

  .pr-#{$i * 5} {
    & {
      padding-right: #{$i * 5}px;
    }
  }
  // important
  .pt-#{$i * 5}-i {
    & {
      padding-top: #{$i * 5}px !important;
    }
  }

  .pb-#{$i * 5}-i {
    & {
      padding-bottom: #{$i * 5}px !important;
    }
  }

  .pl-#{$i * 5}-i {
    & {
      padding-left: #{$i * 5}px !important;
    }
  }

  .pr-#{$i * 5}-i {
    & {
      padding-right: #{$i * 5}px !important;
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (min-width: $screen-sm) {
    .pt-sm-#{$i * 5} {
      & {
        padding-top: #{$i * 5}px;
      }
    }

    .pb-sm-#{$i * 5} {
      & {
        padding-bottom: #{$i * 5}px;
      }
    }

    .pl-sm-#{$i * 5} {
      & {
        padding-left: #{$i * 5}px;
      }
    }

    .pr-sm-#{$i * 5} {
      & {
        padding-right: #{$i * 5}px;
      }
    }
    // important
    .pt-sm-#{$i * 5}-i {
      & {
        padding-top: #{$i * 5}px !important;
      }
    }

    .pb-sm-#{$i * 5}-i {
      & {
        padding-bottom: #{$i * 5}px !important;
      }
    }

    .pl-sm-#{$i * 5}-i {
      & {
        padding-left: #{$i * 5}px !important;
      }
    }

    .pr-sm-#{$i * 5}-i {
      & {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (min-width: $screen-xs) {
    .pt-xs-#{$i * 5} {
      & {
        padding-top: #{$i * 5}px;
      }
    }

    .pb-xs-#{$i * 5} {
      & {
        padding-bottom: #{$i * 5}px;
      }
    }

    .pl-xs-#{$i * 5} {
      & {
        padding-left: #{$i * 5}px;
      }
    }

    .pr-xs-#{$i * 5} {
      & {
        padding-right: #{$i * 5}px;
      }
    }
    // important
    .pt-xs-#{$i * 5}-i {
      & {
        padding-top: #{$i * 5}px !important;
      }
    }

    .pb-xs-#{$i * 5}-i {
      & {
        padding-bottom: #{$i * 5}px !important;
      }
    }

    .pl-xs-#{$i * 5}-i {
      & {
        padding-left: #{$i * 5}px !important;
      }
    }

    .pr-xs-#{$i * 5}-i {
      & {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (min-width: $screen-md) {
    .pt-md-#{$i * 5} {
      & {
        padding-top: #{$i * 5}px;
      }
    }

    .pb-md-#{$i * 5} {
      & {
        padding-bottom: #{$i * 5}px;
      }
    }

    .pl-md-#{$i * 5} {
      & {
        padding-left: #{$i * 5}px;
      }
    }

    .pr-md-#{$i * 5} {
      & {
        padding-right: #{$i * 5}px;
      }
    }
    // important
    .pt-md-#{$i * 5}-i {
      & {
        padding-top: #{$i * 5}px !important;
      }
    }

    .pb-md-#{$i * 5}-i {
      & {
        padding-bottom: #{$i * 5}px !important;
      }
    }

    .pl-md-#{$i * 5}-i {
      & {
        padding-left: #{$i * 5}px !important;
      }
    }

    .pr-md-#{$i * 5}-i {
      & {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (min-width: $screen-lg) {
    .pt-lg-#{$i * 5} {
      & {
        padding-top: #{$i * 5}px;
      }
    }

    .pb-lg-#{$i * 5} {
      & {
        padding-bottom: #{$i * 5}px;
      }
    }

    .pl-lg-#{$i * 5} {
      & {
        padding-left: #{$i * 5}px;
      }
    }

    .pr-lg-#{$i * 5} {
      & {
        padding-right: #{$i * 5}px;
      }
    }
    // important
    .pt-lg-#{$i * 5}-i {
      & {
        padding-top: #{$i * 5}px !important;
      }
    }

    .pb-lg-#{$i * 5}-i {
      & {
        padding-bottom: #{$i * 5}px !important;
      }
    }

    .pl-lg-#{$i * 5}-i {
      & {
        padding-left: #{$i * 5}px !important;
      }
    }

    .pr-lg-#{$i * 5}-i {
      & {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (min-width: $screen-xlg) {
    .pt-xlg-#{$i * 5} {
      & {
        padding-top: #{$i * 5}px;
      }
    }

    .pb-xlg-#{$i * 5} {
      & {
        padding-bottom: #{$i * 5}px;
      }
    }

    .pl-xlg-#{$i * 5} {
      & {
        padding-left: #{$i * 5}px;
      }
    }

    .pr-xlg-#{$i * 5} {
      & {
        padding-right: #{$i * 5}px;
      }
    }
    // important
    .pt-xlg-#{$i * 5}-i {
      & {
        padding-top: #{$i * 5}px !important;
      }
    }

    .pb-xlg-#{$i * 5}-i {
      & {
        padding-bottom: #{$i * 5}px !important;
      }
    }

    .pl-xlg-#{$i * 5}-i {
      & {
        padding-left: #{$i * 5}px !important;
      }
    }

    .pr-xlg-#{$i * 5}-i {
      & {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (max-width: $screen-lg-max) {
    .pt-lg-max-#{$i * 5} {
      & {
        padding-top: #{$i * 5}px;
      }
    }

    .pb-lg-max-#{$i * 5} {
      & {
        padding-bottom: #{$i * 5}px;
      }
    }

    .pl-lg-max-#{$i * 5} {
      & {
        padding-left: #{$i * 5}px;
      }
    }

    .pr-lg-max-#{$i * 5} {
      & {
        padding-right: #{$i * 5}px;
      }
    }
    // important
    .pt-lg-max-#{$i * 5}-i {
      & {
        padding-top: #{$i * 5}px !important;
      }
    }

    .pb-lg-max-#{$i * 5}-i {
      & {
        padding-bottom: #{$i * 5}px !important;
      }
    }

    .pl-lg-max-#{$i * 5}-i {
      & {
        padding-left: #{$i * 5}px !important;
      }
    }

    .pr-lg-max-#{$i * 5}-i {
      & {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (max-width: $screen-md-max) {
    .pt-md-max-#{$i * 5} {
      & {
        padding-top: #{$i * 5}px;
      }
    }

    .pb-md-max-#{$i * 5} {
      & {
        padding-bottom: #{$i * 5}px;
      }
    }

    .pl-md-max-#{$i * 5} {
      & {
        padding-left: #{$i * 5}px;
      }
    }

    .pr-md-max-#{$i * 5} {
      & {
        padding-right: #{$i * 5}px;
      }
    }
    // important
    .pt-md-max-#{$i * 5}-i {
      & {
        padding-top: #{$i * 5}px !important;
      }
    }

    .pb-md-max-#{$i * 5}-i {
      & {
        padding-bottom: #{$i * 5}px !important;
      }
    }

    .pl-md-max-#{$i * 5}-i {
      & {
        padding-left: #{$i * 5}px !important;
      }
    }

    .pr-md-max-#{$i * 5}-i {
      & {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (max-width: $screen-sm-max) {
    .pt-sm-max-#{$i * 5} {
      & {
        padding-top: #{$i * 5}px;
      }
    }

    .pb-sm-max-#{$i * 5} {
      & {
        padding-bottom: #{$i * 5}px;
      }
    }

    .pl-sm-max-#{$i * 5} {
      & {
        padding-left: #{$i * 5}px;
      }
    }

    .pr-sm-max-#{$i * 5} {
      & {
        padding-right: #{$i * 5}px;
      }
    }
    // important
    .pt-sm-max-#{$i * 5}-i {
      & {
        padding-top: #{$i * 5}px !important;
      }
    }

    .pb-sm-max-#{$i * 5}-i {
      & {
        padding-bottom: #{$i * 5}px !important;
      }
    }

    .pl-sm-max-#{$i * 5}-i {
      & {
        padding-left: #{$i * 5}px !important;
      }
    }

    .pr-sm-max-#{$i * 5}-i {
      & {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (max-width: $screen-xs-max) {
    .pt-xs-max-#{$i * 5} {
      & {
        padding-top: #{$i * 5}px;
      }
    }

    .pb-xs-max-#{$i * 5} {
      & {
        padding-bottom: #{$i * 5}px;
      }
    }

    .pl-xs-max-#{$i * 5} {
      & {
        padding-left: #{$i * 5}px;
      }
    }

    .pr-xs-max-#{$i * 5} {
      & {
        padding-right: #{$i * 5}px;
      }
    }
    // important
    .pt-xs-max-#{$i * 5}-i {
      & {
        padding-top: #{$i * 5}px !important;
      }
    }

    .pb-xs-max-#{$i * 5}-i {
      & {
        padding-bottom: #{$i * 5}px !important;
      }
    }

    .pl-xs-max-#{$i * 5}-i {
      & {
        padding-left: #{$i * 5}px !important;
      }
    }

    .pr-xs-max-#{$i * 5}-i {
      & {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}

@for $i from 0 through 30 {
  @media only screen and (max-width: $screen-xs - 1) {
    .pt-xxs-max-#{$i * 5} {
      & {
        padding-top: #{$i * 5}px;
      }
    }

    .pb-xxs-max-#{$i * 5} {
      & {
        padding-bottom: #{$i * 5}px;
      }
    }

    .pl-xxs-max-#{$i * 5} {
      & {
        padding-left: #{$i * 5}px;
      }
    }

    .pr-xxs-max-#{$i * 5} {
      & {
        padding-right: #{$i * 5}px;
      }
    }
    // important
    .pt-xxs-max-#{$i * 5}-i {
      & {
        padding-top: #{$i * 5}px !important;
      }
    }

    .pb-xxs-max-#{$i * 5}-i {
      & {
        padding-bottom: #{$i * 5}px !important;
      }
    }

    .pl-xxs-max-#{$i * 5}-i {
      & {
        padding-left: #{$i * 5}px !important;
      }
    }

    .pr-xxs-max-#{$i * 5}-i {
      & {
        padding-right: #{$i * 5}px !important;
      }
    }
  }
}
@each $color,$value in(main1:$color-main1,main2:$color-main2,main3:$color-main3,main4:$color-main4,
        main5:$color-main5,main6:$color-main6, light:$color-light,dark:$color-dark,gray_2:$color-gray_2,gray_4:$color-gray_4,
        gray_6:$color-gray_6,gray_8:$color-gray_8,gray_a:$color-gray_a,light_e:$color-light_e,
        light_d:$color-light_d,dark_2b:$color-dark_2b,text:$color-text,tran:transparent,main8:$color-main8){
.color-#{$color}{
  color: $value !important;
}
  .color-hover-#{$color}:hover{
    color: $value !important ;
  }
  .bgc-#{$color}{
    background-color: $value;
  }
  .bgc-hover-#{$color}:hover{
    background-color: $value !important;
  }
  .border-color-#{$color}{
    border-color: $value;
  }
  .border-color-hover-#{$color}:hover{
    border-color: $value;
  }
}

//overlay
.tiishop_overlay{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 5;
}

//vertical middle
.tiishop_cell-wrapper{
  display: table;
  width: 100%;
  height: 100%;
}
.tiishop_cell-middle{
  display: table-cell;
  vertical-align: middle;
}
.tiishop_cell-bottom{
  display: table-cell;
  vertical-align: bottom;
}
.m-font{
  font-family:"Montserrat", serif;
}

