#scroll{
	display: none;
}
.tiishop_scroll-top {
	z-index: 10;
	transition: all 0.4s;
	line-height: 40px;
	font-size: 24px;
	text-align: center;
	width: 40px;
	height: 40px;
	display: block;
	position: fixed;
	right: 30px;
	bottom: 50px;
	background: #ffffff;
	color: #444444;
	border: 1px solid #444444;
	&:hover{
		border: 1px solid $color-main1;
		color: #ffffff;
		background: $color-main1;
	}
}