.slick-dots{
	li{
		&.slick-active button:before {
			color: $color-main1;
		}
		margin-right:0;
		button{
			&:before{
				color: $color-gray_4;
				font-size: 12px;

			}
		}
	}

}
.tiishop-slider{
	.__item{
		outline: none;
		img{
			height: 400px;		}
	}
	.button_left{
		color: $color-main1;
		background-color: $color-main1;
	}
}
.tiishop-slider1{
	.__item{
		outline: none;
	}
}