.tiishop_btn{
  text-decoration: none;
  display:inline-block ;
  outline: none;
  font-size: 12px;
  word-spacing: 2px;
  line-height: 30px;
  transition: all 0.4s;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;
  transition: all 0.4s;
  font-weight: 400;
  border-radius: 4px;
  &:hover {
    text-decoration: none;
  }
}
.tiishop_btn-border{
  @extend .tiishop_btn;
  line-height: 32px;
  border-width: 1px;
  border-style:  solid;
  padding-left: 10px;
  padding-right: 10px;
}