@media (min-width: 768px) and (max-width:991px) {
  #tiishop-header{
    .container{
      width: 100%;
    }
  }
}
@media (min-width: 992px) {
  .tiishop_fixed{
    top: 0;
    position: fixed ;
    width: 100%;
    .tiishop_nav{
      >li{
        >a{
          line-height: 65px;
        }
      }
    }
  }
}

header{
  transition: all 0.4s;
  z-index: 600;
  font-family:$ff2;
  border-bottom: 1px solid rgba(210,210,210,0.35);
  .__bonus{
    font-size: 0;
  }
  .__cart{
    background-color: $color-gray_2;
    &:before{
      position: absolute;
      background-color: $color-main1;
      color: #fff;
      top: -8px;
      content: attr(data-content);
      left: 65px;
      font-size: 11px;
      width: 20px;
      height: 20px;
      line-height: 20px;
      border-radius: 50%;
      text-align: center;
    }
    &:hover{
      .__cart-view{
        display: block;
      }
    }
  }
  .__search,.__cart{
    display: inline-block;
    text-align: center;
    i{
      font-size: 15px;
      width: 30px;
      height: 30px;
      line-height: 30px;
      color: #fff;
    }
  }
  #icon-search2{
    display: none;
  }
  #search-pro-bonus{
    padding-top:15px;
    border-top: 2px double $color-main1;
  }
  .__cart-view{
    padding-top: 29px;
    background-color: transparent ;
    position: absolute;
    display: none;
    left: -171px;
    z-index: 2;
    th,td{
      vertical-align: middle !important;
      text-align: center;
    }
    img{
      width: 40px;
      height: 40px;
    }
    table{
      width: 250px;
    }
  }
  .add-pt{
    padding-top: 18px;
  }
  .__hambuger{
    transition: all 0.4s;
    position: fixed;
    right: 20px;
    top: 30px;
    width: 22px;
    height: 14px;
    background-color: transparent;
    z-index: 1000;
    cursor: pointer;
    &:before,&:after{
      transition: all 0.4s;
      content: "";
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      top: 50%;
      background-color: #444444;
    }
    &:before{
      transform: translate3d(0,-8px,0);
    }
    &:after{
      transform: translate3d(0,8px,0);
    }
    span{
      transition: all 0.4s;
      position: absolute;
      height: 2px;
      width: 100%;
      left: 0;
      top: 50%;
      background-color: #444444;
    }
  }
  .fade-top{
    &:before{
      transform: rotate(45deg) ;
      background-color: #fff;
    }
    &:after{
      transform: rotate(-45deg) ;
      background-color: #fff;
    }
  }
}
@media (min-width: 992px) {
  header{
    background-color: rgba($color-light,0.9);
    .tiishop_nav{
      position: relative;
      display: table;
      width: 100%;
      font-size: 14px;
      .__menu-icon{
        margin-right: 2px;
      }
      >li{
        text-align: center;
        position: relative;
        display: table-cell;
        width: 300px;
        >a{
          line-height: 90px;
          display: inline-block;
          position: relative;
          &:after{
            transition: all 0.4s;
            display: block;
            left: 50%;
            transform: translateX(-50%);
            content: " ";
            top: 55px;
            height: 0;
            width: 0;
            border-top: 2px solid #00d8a3;
            position: absolute;
          }
        }
        > ul{
          position: absolute;
          top: 100%;
          left: -15px;
          z-index: 998;
          width: 220px;
          font-size: 95%;
          background-color: #111;
          display: none;
          transition: all 0.4s;
          border-bottom: 3px solid $color-main1;
          a{
            display: block;
            color: #fff;
            padding-left: 15px;
          }
          li{
            text-align: left;
            transition: all 0.4s;
            line-height: 40px;
            &:hover{
              background-color: #444;
              a{
                padding-left: 85px;
              }
            }
          }
        }
        &:hover{
          >a{
            color: $color-main1;
            &:after{
              width: 100%;
            }
          }
          >ul{
            display: block;
          }
        }
      }
    }
    .__cart-bonus>li>a:after{
      top: 42px;
    }
    .__search {
      background-color: $color-main1;
    }
    .search-btn{
      .form-control{
        display: inline-block;
        width: 100%;
        &:hover{
          border-color: $color-main1;
        }

        &.tiishop_search{
          width: 86%;
          border-top-right-radius:0;
          border-bottom-right-radius:0;
        }
      }
      .__search-btn{
        transition: all 0.4s;
        outline: none;
        border: 1px solid #cccccc;
        border-top-right-radius: 4px;
        border-bottom-right-radius: 4px;
        padding-top: 7px;
        padding-bottom: 10px;
        padding-left: 8px;
        padding-right: 8px;
        border-left: none;
        &:hover{
          background-color: $color-main1;
          border-color: $color-main1;
        }
        i{
          font-size: 15px;
        }
      }
    }
    //.__bonus{
    //  padding-top: 12px;
    //}
    //.__bonus10{
    //  padding-top: 10px;
    //}
    .__avatar{
      width: 50px;
      height: 50px;
      border-radius: 50%;
      box-shadow: 1px 0 2px 2px rgba($color-dark_2b,0.5);
    }
    .__login{
      float: right;
      list-style: none;
      .dropdown-menu{
        left: -20px;
      }
    }
  }
}
@media (max-width: 991px) {
  header{
    background-color: $color-light;
    top: 0;
    position: fixed;
    width: 100%;
    .__img{
      padding-top: 10px;
    }
    .tiishop_img-boss{
      max-width: 200px ;
      margin-bottom: 10px;
    }
    .__cart{
      z-index: 600;
      position: fixed;
      top: 23px;
      right: 60px;
      &:before{
        top: -7px;
        left: 22px;
      }
      .__cart-view{
        left: -218px;
        padding-top: 28px;
      }
    }
  }
  .show-menu{
    right: 0 !important;
  }
  .tiishop_nav {
    transition: all 0.4s;
    padding: 50px;
    top: 0;
    position: fixed;
    width: 250px;
    right: -700px;
    overflow: auto;
    height: 100vh;
    background-color: black;
    z-index: 601;
    a{
      font-weight: 400;
      color: $color-light;
      display: block;
      padding: 10px 0;
      transition: all 0.4s;
    }

    >li{
      &:nth-child(2){
        i{
          font-size: 16px;
        }
      }
      >ul{
        li{
          overflow: hidden;
          height: 0;
          transition: all 0.4s;
        }
      }
      &:hover{
        >a{
          color: $color-main1;
        }
        ul{
          li{
            height: 50px;
            transition: all 0.6s;
            &:hover{
              a{
                padding-left: 35px;
                border-bottom: 1px solid #fff;
              }
            }
          }
        }
      }
    }
  }
}
@media (max-width: 767px) {
  header{
    .tiishop_img-boss{
      max-width: 150px ;
    }
    .__hambuger{
      top: 24px;
    }
    .__cart{
      top: 16px;
      .__cart-view{
        padding-top: 20px;
        left: -127px;
        table{
          width: 200px;
          font-size: 10px;
          border: none;
        }
        a{
          line-height: 20px;
          padding-top: 0;
          padding-bottom: 0;
          font-size: 10px;
        }
      }
    }
  }
}

