.login-box{
	font-size: 14px;
	max-width: 500px;
	height: auto;
	background-color: #fff;
	padding: 10px;
	border-radius: 3px;
	border-top: 1px solid #eee;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
	box-shadow: 0px 2px 3px 0px rgba(0,0,0,0.33);
}
.login-box p{
	margin-bottom: 0;
}
.lb-header{
	color: #00415d;
	border-bottom: 1px solid #eee;
	text-align:center;
	padding-bottom: 10px;
}
.lb-header a{
	text-decoration: none;
	color: #666;
	font-weight: bold;
	font-size: 15px;
	-webkit-transition: all 0.1s linear;
	-moz-transition: all 0.1s linear;
	transition: all 0.1s linear;
}
.lb-header .active{
	color: #029f5b;
}
.social-login{
	font-size: 12px;
	padding-top: 5px;
	padding-bottom: 5px;
	text-align: center;
	border-bottom: 1px solid #eee;
}
.social-login a{
	padding: 8px 10px;
	display: inline-block;
	background-color: #da4835;
	color: #fff;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 2px;
	text-transform: uppercase;
	text-align:center;
}
.social-login .__facebook{
	padding: 8px 10px;
	display: inline-block;
	background-color: #0d638f;
	color: #fff;
	border: 1px solid rgba(0,0,0,0.05);
	border-radius: 2px;
	text-transform: uppercase;
	text-align:center;
}
.social-login a:hover{
	opacity: 0.8;
}
.email-login,.email-signup{
	padding-top: 10px;
}
.u-form-group{
	margin-bottom: 10px;
}
.email-signup .u-form-group input{
	padding: 5px 5px;
}
.u-form-group input{
	width: 100%;
	outline: none;
	border: 1px solid #ddd;
	padding: 10px 5px;
	border-radius: 2px;
	color: #333;
	-webkit-transition:all 0.4s linear;
	-moz-transition:all 0.4s linear;
	transition:all 0.4s linear;
}
.u-form-group input:focus{
	border-color: #00d8a3;
}
.u-form-group button{
	padding: 10px 85px;
	display: inline-block;
	transition: all 0.4s;
	background-color: #1CB94E;
	border: none;
	outline: none;
	color: #fff;
	font-weight: normal;
	border-radius: 2px;
	text-transform: uppercase;
}
.u-form-group button:hover{
	opacity: 0.8;
}
.forgot-password{
	width:50%;
	text-align: left;
	text-decoration: underline;
	color: #888;
}
.tiishop_register .__signup {
	max-width: 800px;
	height: auto;
	background-color: #fff;
	border-radius: 3px;
	-webkit-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
	-moz-box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33);
	box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.33); }
.tiishop_register .__signup .__heading {
	padding: 15px 15px;
	background-color: #f5f5f5;
	border-bottom: 1px solid #dddddd;
	border-top: 1px solid #dddddd; }
@media (min-width: 992px) {
	.tiishop_register .__signup .__label {
		text-align: right;
		padding-top: 5px; } }
.tiishop_register .__signup .__label label {
	margin-bottom: 0;
	font-size: 16px;
	font-weight: 400; }
.tiishop_register .__signup .__inner {
	padding-left: 15px;
	padding-right: 15px;
	padding-top: 35px;
	padding-bottom: 35px; }
.tiishop_register .__signup .__inner button {
	transition: all 0.4s; }
.tiishop_register .__signup .form-group .form-control {
	transition: all 0.4s;
	font-size: 14px;
	height: 40px; }
.tiishop_register .__signup .form-group .form-control:focus {
	border-color: #00d8a3; }

@media (min-width: 992px) {
	header .search-btn {
		border-radius: 2px;
		padding: 20px 10px;
		background-color:#222222;
		display: none;
		z-index: 50;
		top: 62px;
		position: absolute;
		left: -95px;
		width: 273px;}
	header .search-btn input {
		outline: none;
		padding: 5px 10px; }
	header .search-btn input:focus {
		border-color: #00d8a3; }
}
@media (min-width: 992px) {
	header .add-bonus {
		top: 49px;
	}
}
p.loginUser {
	margin: 0px;
}
span.glyphicon.glyphicon-lock, span.glyphicon.glyphicon-user, span.glyphicon.glyphicon-earphone, span.glyphicon.glyphicon-envelope {
	position: absolute;
	z-index: 5;
	top: 12px;
	left: 5px;
	color: #909295;
}
.modal-content .input-group {
	margin-bottom: 17px;
}
.modal-body input.form-control {
	padding-left: 30px;
	height: 40px;
	background: #fafbfd;
	width: 240px;
}
.col-md-6.cache {
	margin-top: 0px;
}
.cache img {
	margin-bottom: 10px;
}
button.btn.btn-primary {
	padding: 7px 20px;
}
.modal-body .col-md-6.block_rad {
	padding: 0px;
}
