h1, h2, h3, h4, h5, h6 {
    margin-top: 0; }

ul li {
    list-style: none; }
ul{
    padding-left: 0;
    margin-bottom: 0;
}

body {
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #444444;
    line-height: 1.8; }

a {
    color: #444444; }

a, a:hover, a:focus, a:active, a.active {
    color: #444444;
    transition: all 0.4s;
    outline: none;
    text-decoration: none; }
