* {
    padding: 0;
    margin: 0;
}

.breadcrumb > li + li:before {
    color: #8c8064;
    content: "\00BB";
    font-size: 18px;
}

#main-container ol.breadcrumb {
    background: #ffffff;
    border-bottom: 3px solid #fcb500;
}

#main-container .thumbnail {
    position: relative;
}