* {
    padding: 0;
    margin: 0;
}

span.she {
    color: rgb(242, 32, 10);
}

.pagination a {
    color: black;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 1px solid #ddd;

}

.pagination a.active {
    background-color: #ffb400;
    color: white;
    border: 1px solid #ffb400;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}

.pagination {
    margin: 20px 0px 20px 830px;
}

@media only screen and (max-width: 900px) {
    .pagination {
        margin-left: 10px
    }

}